@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif; /* <<< added */
  --font-poppins: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-inter);
}
/* Add custom styles for navigation arrows */
.swiper-button-next, .swiper-button-prev {
  color: #ffffff; /* Adjust color */
  background-color: #1a1f3b;
  padding: 20px;
  border-radius: 100%;
}

.swiper-button-prev:after, .swiper-button-next:after {

  color: rgb(255, 255, 255);
  font-size: 18px !important;
}
.swiper-button-next, .swiper-button-prev {
  display: none !important;
}
/* Add responsive styling for the arrows */
@media (max-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    display: block; 
  }
}